Метафилды --------------------------------------

{% if product.metafields.custom contains 'additional_text' %}
    {{ product.metafields.custom.additional_text }}
{% endif %}

https://apps.shopify.com/metafields-editor





Theme sections blocks

{% schema %}
  {
    "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "id": "content",
            "type": "text",
            "label": "Quote"
          }
        ]
      }
    ]
  }
{% endschema %}

https://help.shopify.com/themes/development/sections#blocks











1- Для того чтоб слик галеря была на превью продуктах сразу 
--- https://s3.amazonaws.com/scrstorage/67on89p2f54j62l734.png  в theme.js
---- https://s3.amazonaws.com/scrstorage/1337490b6285o4.jpg заменить этот кусок кода


<div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
  {% if enable_thumbnail_slides == true %}
    <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
      {% include 'icon-chevron-left' %}
      <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
    </button>
  {% endif %}
  <ul class="product-single__thumbnails product-single__thumbnails-{{ section.id }}">
    {% for image in product.images %}
      <li class="{{ product_thumbnail_width }} product-single__thumbnails-item js">
        <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
           class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
           data-thumbnail-id="{{ image.id }}"
           {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
             <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
        </a>
      </li>
    {% endfor %}
  </ul>
  {% if enable_thumbnail_slides == true %}
    <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
      {% include 'icon-chevron-right' %}
      <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
    </button>
  {% endif %}
</div>

----- https://s3.amazonaws.com/scrstorage/13sh48a0q328475p4.jpg в стилях убрать этот медиа запрос